@import "tailwindcss";
body
{
    margin: 0;
    padding: 0;
    background: #000;
    color: white
}
/* ===== Minimal Height Look Scrollbar ===== */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #a56132;

    /* Key tricks */
    border-radius: 999px;
    border: 4px solid #000;          /* reduces visible height illusion */
    background-clip: content-box;    /* keeps thumb tiny */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a56132;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #a56132 #000;
}
